@import "tailwindcss";


:root {
  --background: #1e1e1e;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #5f5f5f transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #5f5f5f;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

